global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http                # Включаем 7 уровень (L7)
    option  httplog             # Логирование HTTP-запросов
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_frontend
    bind *:80
    mode http
    
    # ACL: проверяем, что заголовок Host равен "example.local"
    acl is_example_domain hdr(host) -i example.local
    
    # Перенаправляем на бэкенд только если условие ACL выполняется
    use_backend python_http_servers if is_example_domain
    
    # Если запрос пришел БЕЗ домена (или по IP), отдаем HTTP 403 Forbidden
    http-request deny deny_status 403 if !is_example_domain

backend python_http_servers
    mode http
    balance roundrobin          # В HAProxy weighted-балансировка задается через обычный roundrobin + веса
    
    # Настройка серверов с указанными весами (2, 3, 4)
    server server1 127.0.0.1:8001 weight 2 check
    server server2 127.0.0.1:8002 weight 3 check
    server server3 127.0.0.1:8003 weight 4 check
